// Colors
$very-light-pink: #fff3f2;
$white-two: #e1e1e1;

// Vuetify Button
$btn-font-weight: 500;
$btn-text-transform: none;

// Vuetify DataTable
$data-table-dense-header-height: 40px !default;
$data-table-dense-row-height: 40px !default;
$data-table-border-radius: 4px;
$data-table-regular-header-font-size: 13px;
